html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}

a {
    color: #fdcc52;
    transition: all .25s;
}

a:hover,
a:focus {
    color: #fcbd20;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section h2 {
    font-size: 50px;
}

#mainNav .navbar-brand {
    color: #fdcc52;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
    color: #fcbd20;
}

.game-knifethrow {
    margin-top: 62px;
    background: rgb(58, 101, 140);
    background: radial-gradient(circle, rgba(58, 101, 140, 1) 0%, rgba(34, 73, 80, 1) 100%);
}

.game-redrun {
    margin-top: 5px;
    background: rgb(223, 68, 68);
    background: radial-gradient(circle, rgba(223, 68, 68, 1) 0%, rgba(172, 58, 58, 1) 100%);
}

.game-cubie {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgb(58, 101, 140);
    background: url("../img/bg-pattern.png"), rgb(58, 101, 140);
    background: url("../img/bg-pattern.png"), radial-gradient(circle, rgba(58, 101, 140, 1) 0%, rgba(34, 73, 80, 1) 100%);
}

.game-icon img {
    max-width: 128px;
    width: 100%;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
}

.cube-icon img{
    width: 25%;
    margin: 10px;
    margin-top: 0;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    float: left;
}

.cube-description {
    color: white;
}

.game-info{
    overflow: auto;
}

.game-badges li{
    display: block;
}

.game-badge img {
    width: 100%;
    padding-top: 10px;
    max-width: 256px;
    display: block;
    margin: auto;
}

.undertitle{
    margin-top: 40px;
    text-align: center
}

.game-info{
    margin-top:10px;
}

.game-description {
    color: white;
}

.game-logo img {
    width: 100%;
    height: 50& display: block;
    max-width: 512px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
}

#mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
    color: #fdcc52 !important;
    background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
    color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: fade(white, 70%);
    }

    #mainNav .navbar-brand:hover,
    #mainNav .navbar-brand:focus {
        color: white;
    }

    #mainNav .navbar-nav > li > a,
    #mainNav .navbar-nav > li > a:focus {
        color: #222222;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #222222;
    }

    #mainNav.navbar-shrink .navbar-brand:hover,
    #mainNav.navbar-shrink .navbar-brand:focus {
        color: #fdcc52;
    }

    #mainNav.navbar-shrink .navbar-nav > li > a,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus {
        color: #222222;
    }

    #mainNav.navbar-shrink .navbar-nav > li > a:hover,
    #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
        color: #fdcc52;
    }
}

section.contact {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    margin: auto;
}

section.contact h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.contact-form .form-control{
    border-radius:1rem;
}

section.contact ul.list-social {
    margin-bottom: 0;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #222222;
    margin: auto;
}

.footer{
    padding: 25px 0;
    text-align: center;
    color: black;
    margin: auto; 
}

.footer p {
    font-size: 12px;
    margin: 0;
}

.footer ul {
    margin-bottom: 0;
}

.footer ul li a {
    font-size: 12px;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
    text-decoration: none;
}

.bg-primary {
    background: #fdcc52;
    background: radial-gradient(#fdcc52, #fdc539);
}

.deadworm img{
    width: 100%;
    max-width: 980px;
}

.text-primary {
    color: #fdcc52;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn {
    border-radius: 200px;
    font-weight: bold;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.btn-action {
    width: 70%;
    background-color: #f0534a;
    border-top: 0 none;
    border-bottom: 4px solid #ab3b33;
    border-left: 0;
    border-right: 0;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    font-family: CeraProBold, sans-serif;
}
